#background{
    background-color: rebeccapurple;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bottom{
    bottom: 10px;
    width: 100%;
    position: absolute;
}

#central{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: -60px;
    border-radius: 3%;
    height: 400px;
}


/* Classes */

h1 {
    font-size: clamp(2rem, 3vw, 3rem);
  }

h2 {
    font-size: clamp(1rem, 4vw, 30px);
  }


.link{
    justify-content: flex-end;
}
.link img{
    width: 10%;
    height: 10%;
    margin-inline: 2rem;
    transition: transform 0.3s, filter 0.3s, opacity 0.3s;
    border-radius: 90%;
}

.link img:hover {
    transform: scale(1.5);
    opacity: 1; 
    filter: none; 
    box-shadow: 0 0 1rem whitesmoke;
}

/* When a link is being hovered the others are going to be blurred */
.link:hover ~ .link img, 
.link:hover ~ .link img {
    opacity: 0.2; 
    filter: blur(5px);
}

.tab{
    background-color: transparent;
    backdrop-filter: blur(20px);

    background-image: linear-gradient(
        to left,
        transparent,
        black,
        transparent
    );
    box-shadow: 0 0 1rem black;
}



#header{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    color: whitesmoke;
    font-family: monospace;
}


.slider{
    width: 100%;
    border: 1px solid rebeccapurple;
    height: var(--height);
    mask-image: linear-gradient(
        to left,
        transparent,
        black,
        transparent
    );
    background-image: linear-gradient(
        to left,
        transparent,
        black,
        transparent
    );
}



/* Right slider */

.slider .right .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}


.slider .right .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: runToLeft 12s linear infinite;
    animation-delay: calc(12s / var(--quantity) * var(--position) * -1);
}

.slider .right .list .item img{
    width: 100%;
    height: 100%;
    
}


/* Left slider */

.slider .left .list{
    display: flex;
    width: 100%;
    min-width: 3500px;
    position: relative;
}


.slider .left .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    right: 100%;
    animation: runToRight 12s linear infinite;
    animation-delay: calc(12s / var(--quantity) * var(--position) * -1);
}

.slider .left .list .item img{
    width: 100%;
    height: 100%;
}




@keyframes runToLeft{
    to{
        left: calc(var(--width) * -1);
    }
}

@keyframes runToRight{
    to{
        right: var(--width);
    }
}